# Created by https://www.toptal.com/developers/gitignore/api/emacs
# Edit at https://www.toptal.com/developers/gitignore?templates=emacs

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages & melpa 
/elpa/
/melpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
odist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# stuff that comes with packages?   
url/
workspace/
intelephense/
.lsp*
lsp*
ido*
smex*
.mc-*
# directory configuration
.dir-locals.el
auto-save-list/

# network security
/network-security.data


